*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#1090CB;
}
.blue{
    background-color: var(--primary-color);
    color: white;
}
.bg-color{
    background-color: #ffffff;
}
.border{
    border: 1px solid rgba(128, 128, 128, 0.438);
}
.bg-back{
    background-color: #5c5c5c10;
    background-image: url(./images/Vector\ 1.png);
    background-repeat: no-repeat , no-repeat;
 background-position: right bottom;
}
.text-bg{
    background-color: #EFEAFF;
}
.radius{
    border-radius: 15px;
}
.circle{
    border-radius: 60px;
    background-color: #08D3BB;
}
